/* Complete CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
p {
    margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

/* CSS Root Changes */
:root {
    --card-height: 200px;
}

/* Layout */
body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.container {
    display: flex;
    align-items: center;
}

.card {
    border: 2px solid black;
    border-radius: 8px;
    height: var(--card-height);
    width: calc(var(--card-height) * 2 / 3);
    box-shadow: 3px 6px 35px -13px rgba(0,0,0,0.54);
}

.top {
    margin: 0.5em 0 0 0.5em;
}

.top div,
.bottom div {
    margin-bottom: -0.625em;
}

.center {
    display: flex;
    justify-content: center;
    font-size: 5rem;
}

.bottom {
    margin-left: 6.875em;
}