/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin-block-end: 0;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 750px;
    gap: 5px;
}

.image-1 {
    grid-area: 1 / 1 / 3 / 2;
}
.image-2 {
    grid-area: 3 / 1 / 4 / 2;
}
.image-3 {
    grid-area: 1 / 2 / 2 / 3;
}
.image-4 {
    grid-area: 2 / 2 / 4 / 3;
    margin-top: -17px;
}
.image-5 {
    grid-area: 1 / 3 / 3 / 4;
}
.image-6 {
    grid-area: 3 / 3 / 4 / 4;
}

@media (min-width: 375px) {
    .container {
        max-width: 350px;
    }

    .image-4 {
        margin-top: -7px;
    }
}

@media (min-width: 480px) {
    .container {
        max-width: 450px;
    }

    .image-4 {
        margin-top: -8px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 725px;
    }

    .image-4 {
        margin-top: -16px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1000px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1080px;
        gap: 15px;
    }

    .image-4 {
        margin-top: -26px;
    }
}