/* Complete CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
p {
    margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2 {
    line-height: 1.1;
}

img {
    max-width: 100%;
}

/* Global CSS Changes w/ Root */
:root {
    /* Colors */
    --clr-background: rgb(204, 204, 204);
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);
    --clr-text: rgb(30, 30, 30);
    --clr-img-bg: rgb(193, 56, 50);

    /* Font */
    --FF: "Open Sans", serif;

    --FS-16: 1rem;     /* 16px */
    --FS-50: 3.125rem; /* 50px */
}

/* Typography */
body {
    font-family: var(--FF);
    font-size: var(--FS-16);
    color: var(--clr-text);
}

h1 {
    font-size: var(--FS-50);
    color: var(--clr-white);
}

/* Layout */
body {
    background: url(./images/pattern.png);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--clr-white);
    position: relative;
}

header {
    height: 150px;
    align-content: center;
}

header img {
    width: 100px;
    position: absolute;
    right: 32.5px;
    top: 50px;
}

h1 {
    margin: 32.5px 0 0 32.5px;
}

main {
    background-color: var(--clr-background);
}

article {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 2;
}

iframe {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
}

.further-info {
    clear: left;
    padding: 40px 0;
    background-color: var(--clr-img-bg);
    display: flex;
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5)
                inset 0 -3px 2px rgba(0, 0, 0, 0.5);
}

.further-info a {
    width: 25%;
    display: block;
    float: left;
}

.clearfix {
    clear: both;
}

.red-panda img {
    display: block;
    max-width: 100%;
}