/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
p {
    margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
button {
    line-height: 1.1;
}

img {
    max-width: 100%;
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
}

/* Global CSS Changes w/ Root */
:root {
    /* Colors */
    --clr-text: rgb(30, 30, 30);
    --clr-black: rgb(0, 0, 0);
    --clr-white: rgb(255, 255, 255);

    --clr-very-dark-grayish-blue: rgb(72, 85, 106);
    --clr-desaturated-dark-blue: rgb(109, 127, 151);
    --clr-grayish-blue: rgb(158, 175, 194);
    --clr-light-grayish-blue: rgb(236, 242, 248);
    --clr-boxshadow: rgba(0, 0, 0, 0.2);

    /* Font */
    --FF: "Manrope", sans-serif;

    --FS-13: 0.813rem; /* 13px */
    --FS-16: 1rem;     /* 16px */
    --FS-18: 1.1rem;   /* 18px */

    --FW-500: 500;
    --FW-700: 700;
}

/* Typography */
body {
    font-family: var(--FF);
    color: var(--clr-text);
}

.article-title {
    font-weight: var(--FW-700);
    color: var(--clr-very-dark-grayish-blue);
    font-size: var(--FS-16);
    line-height: 1.35;
}

.article-text,
.author-name,
.author-written-date {
    font-size: var(--FS-13);
}

.article-text {
    font-weight: var(--FW-500);
    color: var(--clr-desaturated-dark-blue);
}

.author-name {
    color: var(--clr-very-dark-grayish-blue);
    font-weight: var(--FW-700);
}

.author-written-date {
    color: var(--clr-grayish-blue);
}

.share-text {
    color: var(--clr-white);
    font-weight: lighter;
    letter-spacing: 5px;
}

/* Layout -- Body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-grayish-blue);
    max-width: 375px;
    margin: 0 auto;
}

.container {
    max-width: 325px;
    margin: 10px 0;
    background-color: var(--clr-white);
    border-radius: 0.8em;
    box-shadow: 0px 0px 25px -4px var(--clr-boxshadow);
}

/* Layout -- Body (Desktop Media Query) */
@media (min-width: 1024px) {
    body {
        max-width: 1024px;
    }

    .container {
        max-width: 700px;
        max-height: 250px;
        display: flex;
    }
}

/* Article Content */
.article-container {
    padding: 25px;
}

.article-image {
    border-radius: 0.8em 0.8em 0 0;
}

.article-title,
.article-text {
    margin-bottom: 0.75em;
}

.article-title {
    max-width: 260px;
}

.article-text {
    max-width: 260px;
}

/* Article Content -- Desktop Media Query */
@media (min-width: 1024px) {
    .image-container {
        max-width: 300px;
        max-height: auto;
    }

    .article-image {
        width: auto;
        height: 250px;
        border-radius: 0.8em 0 0 0.8em;
    }

    .article-title {
        max-width: 320px;
        font-size: var(--FS-18);
    }

    .article-text {
        max-width: 350px;
    }
}

/* Author Info */
.author-container {
    display: flex;
    align-items: center;
}

.author-image {
    width: 15%;
    height: 15%;
    border-radius: 50%;
}

.author-name-date {
    margin: 0.4em 0 0 1em;
}

/* Author-Info -- Desktop Media Query */
@media (min-width: 1024px) {
    .author-container {
        margin-top: 20px;
    }

    .author-image {
        width: 12%;
        height: 12%;
    }
}

/* Share Button/Icons */
.share-container {
    max-width: 100%;
    position: relative;
}

.share-button,
.close-button {
    position: relative;
    border: none;
    background-color: var(--clr-light-grayish-blue);
    padding: 0.8em;
    border-radius: 50%;
}

.share-button {
    top: 2px;
    left: 50px;
}

.close-button {
    top: 0;
    left: 35px;
    padding: 0.4em;
}

.share-button:hover {
    background-color: var(--clr-very-dark-grayish-blue);
}

.close-button:hover {
    background-color: var(--clr-grayish-blue);
}

.share-container-icons {
    position: absolute;
    top: 4px;
    left: -33px;
    width: 325px;
    transform: translateX(-50%);
    background-color: var(--clr-very-dark-grayish-blue);
    border-radius: 0 0 10px 10px;
    padding: 15px;
    display: flex;
    gap: 10px;
    display: none;
    align-items: center;
}

.share-container-icons.visible {
    display: flex;
}

.share-container-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

/* Share Button/Icons -- Desktop Media Query */
@media (min-width: 1024px) {
    .share-button {
        left: 90px;
    }

    .close-button {
        display: none;
    }

    .share-container-icons {
        position: absolute;
        top: -80px;
        left: 100px;
        transform: translateX(-50%);
        border-radius: 10px;
        padding: 15px;
        display: flex;
        gap: 10px;
        display: none;
        width: 250px;
        justify-content: center;
        box-shadow: 0px 0px 25px -4px var(--clr-boxshadow);
    }

    .share-container-icons::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: 53%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: var(--clr-very-dark-grayish-blue) transparent transparent transparent;
        box-shadow: 0px 0px 25px -4px var(--clr-boxshadow);
    }
}

/* Utility Class */
.hidden {
    display: none;
}