/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p {
    margin-block-end: 0;
}

ul, li {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    line-height: 1.1;
}

img {
    max-width: 100%;
    display: block;
}

/* Global CSS Changes w/ Root */
:root {
    /* Colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-text: hsl(0, 0%, 7%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);
    --clr-box-shadow: rgba(0, 0, 0, 0.37);

    /* Font */
    --FF-Young: "Young Serif", serif;
    --FF-Outfit: "Outfit", serif;

    --FW-400: 400;
    --FW-600: 600;
    --FW-700: 700;

    --FS-16: 1rem; /* 16px */
}

/* Typography */
body {
    font-family: var(--FF-Outfit);
    font-weight: var(--FW-400);
    color: var(--clr-text);
}

.recipe-title,
.recipe-prep-title,
.recipe-ingredients-title,
.recipe-instructions-title,
.nutrition-title {
    font-family: var(--FF-Young);
    font-weight: var(--FW-700);
}

.recipe-prep-title {
    color: var(--clr-rose-800);
}

.recipe-ingredients-title,
.recipe-instructions-title,
.nutrition-title {
    color: var(--clr-brown-800);
}

.colored-text {
    font-weight: var(--FW-700);
    color: var(--clr-rose-800);
}

/* Layout */
body {
    background-color: var(--clr-white);
}

.recipe-container {
    padding: 20px;
    max-width: 350px;
}

.recipe-title,
.recipe-desc {
    margin-bottom: 15px;
}

.recipe-prep-time {
    background-color: var(--clr-rose-50);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.recipe-prep-list,
.recipe-prep-items {
    margin-top: 10px;
}

.recipe-ingredients {
    margin-bottom: 30px;
}

.recipe-ingredients-title {
    margin-bottom: 15px;
}

.ingredients-list-item {
    list-style: disc;
    margin-left: 15px;
    margin-bottom: 8px;
}

.recipe-instructions {
    margin-bottom: 30px;
}

.recipe-instructions-title {
    margin-bottom: 15px;
}

.instructions-list-item {
    list-style: decimal;
    margin-left: 15px;
    margin-bottom: 10px;
}

.nutrition-title,
.nutrition-desc {
    margin-bottom: 10px;
}

.nutrition-table {
    border-collapse: collapse;
    margin: 0 auto;
}

.nutrition-calories,
.nutrition-carbs,
.nutrition-protein,
.nutrition-fat {
    border-bottom: 1px solid var(--clr-stone-150);
    display: table-row;
}

td {
    padding: 8px;
    width: 90%;
}

@media (min-width: 1024px) {
    body {
        background-color: rgba(250, 128, 114, 0.27);
    }

    .recipe-container {
        max-width: 500px;
        margin: 0 auto;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-bottom: 40px;
        background-color: var(--clr-white);
        box-shadow: 2px 2px 49px -22px var(--clr-box-shadow);
    }

    .recipe-img {
        max-width: 500px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 40px auto 0 auto;
        padding-top: 40px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-image: url(/images/image-omelette.jpeg);
        background-color: var(--clr-white);
        box-shadow: 2px 2px 49px -22px var(--clr-box-shadow);
    }
}