/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    text-size-adjust: none;
}

body,
h1,
h2,
h3,
p {
    margin-block-end: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

a {
    text-decoration: none;
}

/* Global CSS Changes w/ Root */
:root {
    /* Colors */
    --clr-text: rgb(18, 18, 18);
    --clr-text-hover: rgb(65, 65, 65);
    --clr-grey: rgba(128, 128, 128, 0.726);
    --clr-white: rgb(255, 255, 255);
    --clr-black: rgb(0, 0, 0);

    /* Font */
    --FF: "Open Sans", serif;

    --FS-14: 0.875rem; /* 14px */
    --FS-16: 1rem;     /* 16px */
    --FS-18: 1.125rem; /* 18px */
    --FS-22: 1.375rem; /* 23px */
    --FS-28: 1.75rem;  /* 28px */

    --FW-regular: normal;
    --FW-500: 500;
    --FW-bold: bold;
    --FStyle-italic: italic;
}

/* Typography */
body {
    font-family: var(--FF);
    font-size: var(--FS-16);
    color: var(--clr-text);
}

.site-title {
    font-weight: var(--FW-bold);
    font-size: var(--FS-18);
}

.text-heading-title {
    font-size: var(--FS-28);
    font-weight: var(--FW-bold);
}

.projects-title,
.experience-title,
.education-title,
.reviews-title {
    font-size: var(--FS-22);
    font-weight: var(--FW-bold);
}

.experience-place-title {
    font-size: var(--FS-18);
    font-weight: var(--FW-500);
}

.text-heading-desc {
    font-size: var(--FS-14);
    color: var(--clr-grey);
    font-style: var(--FStyle-italic);
}

.experience-place-desc,
.education-desc,
.education-courses,
.reviews-text {
    font-size: var(--FS-16);
}

.reviews-teacher {
    font-size: var(--FS-14);
    color: var(--clr-grey);
    font-style: var(--FStyle-italic);
    font-weight: var(--FW-500);
}

.footer-text {
    font-size: var(--FS-14);
}

.nav-link a {
    color: var(--clr-text);
    font-weight: var(--FW-bold);
    transition: color 0.4s ease-in-out;
}

.nav-link a:hover {
    color: var(--clr-text-hover);
    text-decoration: underline;
}

/* Layout */
body {
    max-width: 350px;
    background-color: var(--clr-white);
    margin: 0 auto;
}

@media (min-width: 1024px) {
    body {
        max-width: 1024px;
        margin: 0 auto;
    }
}

/* Layout -- Heading and Navigation */
.heading {
    align-content: center;
    display: grid;
}

.site-logo {
    width: 40px;
    margin: 30px auto 10px auto;
}

.site-title {
    margin: 5px auto 20px auto;
}

.nav-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
}

.text-heading-title,
.text-heading-desc {
    text-align: center;
}

.text-heading-desc {
    margin-bottom: 20px;
}

@media (min-width: 1024px) {
    .heading {
        display: flex;
        justify-content: left;
        margin: 20px 0 0 40px;
    }

    .site-logo {
        width: 50px;
        margin: 0;
    }

    .site-title {
        margin: 6px 0 0 15px;
        font-size: var(--FS-22);
    }

    .nav-link {
        justify-content: right;
        margin: -37px 40px 40px 0;
        gap: 15px;
    }
}

/* Layout -- Combined Sections */
@media (min-width: 1024px) {
    .combine-sections {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        justify-content: center;
        margin-top: 50px;
        max-width: 100%;
    }
}

/* Layout -- Projects Section */
.projects {
    text-align: center;
    margin-bottom: 20px;
}

.projects-title {
    margin-bottom: 15px;
}

.projects-list-item {
    list-style: none;
    margin: 10px;
}

.projects-list-item a {
    color: var(--clr-text);
    transition: color 0.4s ease-in-out;
}

.projects-list-item a:hover {
    color: var(--clr-text-hover);
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .projects {
        margin-right: 15px;
        border-right: 1px solid var(--clr-black);
    }

    .projects-list-item {
        margin-bottom: 25px;
    }
}

/* Layout -- Work Section */
.experience {
    margin-bottom: 20px;
}

.experience-title {
    text-align: center;
    margin-bottom: 15px;
}

.experience-box {
    border: 1px solid var(--clr-black);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.experience-place-title {
    font-weight: var(--FW-bold);
    margin-bottom: 10px;
}

.experience-place-link {
    font-size: var(--FS-14);
}

.experience-place-link {
    color: var(--clr-text);
    transition: 0.4s color ease-in-out;
}

.experience-place-link:hover {
    color: var(--clr-text-hover);
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .experience {
        margin-right: 15px;
        border-right: 1px solid var(--clr-black);
    }

    .experience-box {
        max-width: 300px;
        margin: 0 auto 10px;
    }
}

/* Layout -- Education Section */
.education {
    margin-bottom: 20px;
}

.education-title,
.education-desc,
.education-courses {
    margin-bottom: 10px;
}

.education-title {
    text-align: center;
}

.education-course-item {
    list-style-type: none;
    margin-left: 5px;
    margin-bottom: 4px;
}

.education-course-item:before {
    content: "- ";
}

/* Layout -- Teacher Reviews Section */
.reviews {
    margin-bottom: 20px;
}

.reviews-title {
    text-align: center;
    margin-bottom: 15px;
}

.reviews-box {
    border: 1px solid var(--clr-black);
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
}

.reviews-teacher {
    text-align: right;
}

/* Layout -- Site Footer */
.footer {
    margin: 20px;
    text-align: center;
}