/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Global CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    margin-block-end: 0;
    min-height: 100vh;
    line-height: 1.5;
}

/* Global CSS Changes w/ Root */
:root {
    /* Colors */
    --clr-black: black;
    --clr-text: #1e1e1e;
    --clr-lightgray: lightgray;

    /* Font */
    --FF: "Montserrat", serif;

    --FS-14: 0.9rem;   /* 14px */
}

/* Typography */
body {
    font-family: var(--FF);
    color: var(--clr-text);
}

.calendar-month {
    font-size: var(--FS-14);
}

/* Layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-container {
    border: 1px solid var(--clr-black);
}

#calendar-date-input {
    margin-bottom: 0.6em;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.calendar-box {
    border-bottom: 1px solid var(--clr-black);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.calendar-month {
    margin: 0 1.875em;
}

.ri-arrow-left-s-line,
.ri-arrow-right-s-line {
    cursor: pointer;
}

th, td {
    text-align: center;
}

td {
    border-left: 1px solid var(--clr-black);
    border-bottom: 1px solid var(--clr-black);
    height: 30px;
    width: 30px;
}

td:hover {
    background-color: var(--clr-lightgray);
    cursor: pointer;
}

.darken {
    background-color: var(--clr-lightgray);
    opacity: 0.5;
}